// {*} indicates required minumum vars for framework

$brand-bg:  #fff;// {*} white
$brand-copy: #222;// {*} off-black
$brand-primary: #ec018c;// {*} hot pink
$brand-secondary: #efefef;// pale grey
$brand-tertiary: #a0a0a0;// mid-grey
