@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro");
/* line 11, ../../_src/scss/_fonts.scss */
.font-base {
  font-family: Arial, sans-serif;
}

/* line 30, ../../_src/scss/_fonts.scss */
.font-brand {
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-weight: normal !important;
  text-transform: uppercase;
}

/* line 37, ../../_src/scss/_fonts.scss */
html,
button,
input,
select,
textarea {
  font-family: Arial, sans-serif;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  -webkit-font-smoothing: antialiased;
}

/* line 93, ../../_src/scss/_responsive.scss */
body {
  font-size: 0.9375em;
  line-height: 1.26667em;
}
@media (min-width: 480px) {
  /* line 93, ../../_src/scss/_responsive.scss */
  body {
    font-size: 0.9375em;
    line-height: 1.26667em;
  }
}
@media (min-width: 768px) {
  /* line 93, ../../_src/scss/_responsive.scss */
  body {
    font-size: 0.9375em;
    line-height: 1.26667em;
  }
}
@media (min-width: 1280px) {
  /* line 93, ../../_src/scss/_responsive.scss */
  body {
    font-size: 0.9375em;
    line-height: 1.26667em;
  }
}

/* line 150, ../../_src/scss/_responsive.scss */
.media-frame {
  display: block;
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
}
/* line 157, ../../_src/scss/_responsive.scss */
.media-frame.ratio-four-three {
  padding-bottom: 75%;
}
/* line 161, ../../_src/scss/_responsive.scss */
.media-frame.ratio-square {
  padding-bottom: 100%;
}
/* line 165, ../../_src/scss/_responsive.scss */
.media-frame img, .media-frame iframe, .media-frame object, .media-frame embed {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
/* line 172, ../../_src/scss/_responsive.scss */
.media-frame img {
  height: auto;
}
/* line 176, ../../_src/scss/_responsive.scss */
.media-frame iframe, .media-frame object, .media-frame embed {
  height: 100%;
}

/* line 10, ../../_src/scss/_h5bp.scss */
html {
  background: white;
}

/* line 14, ../../_src/scss/_h5bp.scss */
body {
  background: transparent;
  color: #222222;
}

/* line 23, ../../_src/scss/_h5bp.scss */
::-moz-selection {
  background: #ec018c;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

/* line 29, ../../_src/scss/_h5bp.scss */
::selection {
  background: #ec018c;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

/* line 36, ../../_src/scss/_h5bp.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ec018c;
  margin: 1em 0;
  padding: 0;
}

/* line 46, ../../_src/scss/_h5bp.scss */
img {
  vertical-align: middle;
}

/* line 51, ../../_src/scss/_h5bp.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 58, ../../_src/scss/_h5bp.scss */
textarea {
  resize: vertical;
}

/* line 69, ../../_src/scss/_h5bp.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px;
}

/* line 77, ../../_src/scss/_h5bp.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/* line 85, ../../_src/scss/_h5bp.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 103, ../../_src/scss/_h5bp.scss */
.visuallyhidden,
.adr .type i {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 110, ../../_src/scss/_h5bp.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 121, ../../_src/scss/_h5bp.scss */
.invisible {
  visibility: hidden;
}

/* line 135, ../../_src/scss/_h5bp.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

/* line 141, ../../_src/scss/_h5bp.scss */
.clearfix:after {
  clear: both;
}

/* line 147, ../../_src/scss/_h5bp.scss */
.clearfix {
  *zoom: 1;
}

/* line 156, ../../_src/scss/_h5bp.scss */
.chromeframe {
  width: 90%;
  margin: 0;
  background: #ccc;
  padding: 1em 5%;
  color: #000;
  text-align: center;
}

/* normalize.css v1.1.1 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
/* line 11, ../../_src/scss/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
/* line 30, ../../_src/scss/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 43, ../../_src/scss/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
/* line 53, ../../_src/scss/_normalize.scss */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Prevent system color scheme's background color being used in Firefox, IE,
 *    and Opera.
 * 2. Prevent system color scheme's text color being used in Firefox, IE, and
 *    Opera.
 * 3. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 4. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 72, ../../_src/scss/_normalize.scss */
html {
  background: white;
  /* 1 */
  color: #222222;
  /* 2 */
  font-size: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 4 */
  -ms-text-size-adjust: 100%;
  /* 4 */
}

/**
 * Address margins handled incorrectly in IE 6/7.
 */
/* line 84, ../../_src/scss/_normalize.scss */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/* line 96, ../../_src/scss/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 104, ../../_src/scss/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address font sizes and margins set differently in IE 6/7.
 * Address font sizes within `section` and `article` in Firefox 4+, Safari 5,
 * and Chrome.
 */
/* line 119, ../../_src/scss/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 124, ../../_src/scss/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 129, ../../_src/scss/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 134, ../../_src/scss/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 139, ../../_src/scss/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 144, ../../_src/scss/_normalize.scss */
h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}

/**
 * Address styling not present in IE 7/8/9, Safari 5, and Chrome.
 */
/* line 153, ../../_src/scss/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
 */
/* line 161, ../../_src/scss/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 166, ../../_src/scss/_normalize.scss */
blockquote {
  margin: 1em 40px;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
/* line 174, ../../_src/scss/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 * Known issue: no IE 6/7 normalization.
 */
/* line 183, ../../_src/scss/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 6/7/8/9.
 */
/* line 193, ../../_src/scss/_normalize.scss */
mark {
  background: #ec018c;
  color: #222222;
}

/**
 * Address margins set differently in IE 6/7.
 */
/* line 202, ../../_src/scss/_normalize.scss */
p,
pre {
  margin: 1em 0;
}

/**
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
/* line 211, ../../_src/scss/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
/* line 224, ../../_src/scss/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/**
 * Address CSS quotes not supported in IE 6/7.
 */
/* line 234, ../../_src/scss/_normalize.scss */
q {
  quotes: none;
}

/**
 * Address `quotes` property not supported in Safari 4.
 */
/* line 242, ../../_src/scss/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 252, ../../_src/scss/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 260, ../../_src/scss/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 268, ../../_src/scss/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 272, ../../_src/scss/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Lists
   ========================================================================== */
/**
 * Address margins set differently in IE 6/7.
 */
/* line 284, ../../_src/scss/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

/* line 291, ../../_src/scss/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/**
 * Address paddings set differently in IE 6/7.
 */
/* line 299, ../../_src/scss/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/**
 * Correct list images handled incorrectly in IE 7.
 */
/* line 309, ../../_src/scss/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
/* line 324, ../../_src/scss/_normalize.scss */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
/* line 333, ../../_src/scss/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
/* line 345, ../../_src/scss/_normalize.scss */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Correct margin displayed oddly in IE 6/7.
 */
/* line 357, ../../_src/scss/_normalize.scss */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 365, ../../_src/scss/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
/* line 377, ../../_src/scss/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
/* line 391, ../../_src/scss/_normalize.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 406, ../../_src/scss/_normalize.scss */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
/* line 418, ../../_src/scss/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
/* line 433, ../../_src/scss/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 446, ../../_src/scss/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
/* line 458, ../../_src/scss/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 472, ../../_src/scss/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 484, ../../_src/scss/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
/* line 493, ../../_src/scss/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 * 3. Limit resizing to vertical only. {pf}
 */
/* line 505, ../../_src/scss/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
  resize: vertical;
  /* 3 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 519, ../../_src/scss/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 25, ../../_src/scss/project-name.scss */
html,
body {
  background: white;
}

/* line 46, ../../_src/scss/project-name.scss */
.text-left {
  text-align: left;
}

/* line 50, ../../_src/scss/project-name.scss */
.text-center {
  text-align: center;
}

/* line 54, ../../_src/scss/project-name.scss */
.text-right {
  text-align: right;
}

/*# sourceMappingURL=project-name.css.map */
